- @title = "HOME"
.catch
  .container
    %h1
      Use logaling and translate the world.
    %p
      = link_to 'Learn more »', about_path, :class => 'learnMore'

.container
  .row
    %section.span4.addNewProject
      %h1
        GitHubプロジェクトを登録する
      %p
        = link_to 'プロジェクトを登録する', new_github_project_path, :class => 'addNewProjectBtn'
    %section.span8.projectsList
      %h1
        =image_tag 'homeProjectsUsingLogaling.png', :alt => 'Projects using logaling'
      %ul
        - @projects.each do |project|
          %li
            = link_to project.full_name, project
