.term
  .row
    .span9
      %span.label<>
        =term[:source_language]
      = term[:source_term]
      %span.label<>
        =term[:target_language]
      = term[:target_term]
      - if term[:note].present?
        %span.label<>
          = "note"
        = term[:note]
