- @title = "#{@github_project.full_name} の用語集一覧"
.container
  %h1
    = @github_project.full_name
  %p
    = @github_project.remote_repository_url
  %ul.glossariesList
    - @github_project.glossaries.each do |glossary|
      %li
        - bilingual_pair = [glossary.source_language, glossary.target_language].join('-')
        = link_to bilingual_pair, github_project_glossary_path(:id => bilingual_pair, :github_project_id => @github_project)
