- @title = 'logaling けんさくについて'
.container
  %h1
    = @title

  %h2
    logaling けんさくについて
  %p
    logaling けんさくは、翻訳作業に欠かせない訳語の確認や選定をサポートする検索サービスです。
    さまざまな翻訳プロジェクトで、用語をどのように訳しているかを簡単に検索することができます。
  %p
    翻訳プロジェクトに参加している人や個人で翻訳作業を行なっている人は、
    logaling けんさくに対訳用語集を登録しておくことで、用語集の検索や管理、共有を簡単に行なうことができます。
  %p
    logaling けんさくは、logaling プロジェクトの一環として開発、運営されています。

  %h2
    logaling プロジェクトとは
  %p
    logaling プロジェクトはオープンな言語情報資源の拡充や言語間コミュニケーションの促進を目的としたプロジェクトです。
    現在は、その一環として logaling-command の開発を行っています。
    = link_to "さらに詳しく »", "http://logaling.github.com/", :class => 'learnMore'

