- @title = '用語集のライセンスについて'
.container
  %h1
    = @title
  %p
    本サイトでユーザが作成する用語集のライセンスは、
    = link_to 'クリエイティブ・コモンズ3.0 BY-SA', 'http://creativecommons.org/licenses/by-sa/3.0/'
    に従うものとします。
  %p
    用語集のコピー、配布は自由ですが、用語集作成者の名称を原著作者表示のクレジットとして引用したページへ表示してください。
    できれば、引用元として「logalingけんさく」の名称とコンテンツへのリンクもお願いします。
